@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #000000fa; /* dark background */
    color: #eee;               /* default text color for contrast */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    padding: 0 0.5rem;
    max-width: 1200px;
}
.navigation a {
    text-decoration: none;
    color : purple;
    font-size: 1.2rem;
    font-weight: bold;
}
.navigation ul {
    margin-top: 1.5rem;
    list-style-type: none;
    display: flex;
        color : purple;
    gap: 20px;
}
.navigation a:hover {
    color : #ae1111;
    text-decoration-line: none;
}
hr {
    opacity: 10%;
}
.logo {
    width: 80px;
    height: auto;
}
.schoolnm {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: purple;
}
.news  {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    text-align: center;
    font-size: 3rem;
    color:#ac0909;
    background: 
        url("assets/svg/2e188c50bdccd00ac409689c9343731f.jpg") center;
        background-size: center;
    background-clip: text;
    color: transparent;
    font-style: italic;
}
.videos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .aboutschool {
        flex-direction: column;
        text-align: center;
    }
    .works ul {
        flex-direction: column;
        align-items: center;
    }
    .arrow {
        display: none;
    }
    .schoolnm {
        font-size: 0rem;
    }
    .hero-image {
        display: none;
    }
}
