@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #000000fa; /* dark background */
    color: #eee;               /* default text color for contrast */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    padding: 0 0.5rem;
    max-width: 1200px;
}
.navigation a {
    text-decoration: none;
    color : purple;
    font-size: 1.2rem;
    font-weight: bold;
}
.navigation ul {
    margin-top: 1.5rem;
    list-style-type: none;
    display: flex;
        color : purple;
    gap: 20px;
}
.navigation a:hover {
    color : #ae1111;
    text-decoration-line: none;
}
hr {
    opacity: 10%;
}
.logo {
    width: 80px;
    height: auto;
}
.schoolnm {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: purple;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
}
.arrow {
    position: absolute;
    transform: translateX(-5.5rem) translateY(1.5rem);
}
.Mohab {
    font-size: 3rem;
    color:#ac0909;
    background: 
        url("assets/svg/7531d4ba72a16e78aa9c2c7f845a39a4.jpg") center;
        background-size: center;
    background-clip: text;
    color: transparent;
}
.text {
    font-size: 2rem;
    color: purple;
}
.hero-buttons a {
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 1rem;
}
.hero-content h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.hero-image {
    width: 400px;
    height: auto;
}
h3 {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
    text-align: auto;
}
.us {
    color: purple;
}
.about-us-lamp {
    width: 50px;
    height: auto;
    margin-top: 2rem;
}
.teachers {
    margin-top: 2rem;
    width: 50px;
    height: auto;
}
.aboutschool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
    gap: 10rem ;
}
.conect-numbers li,li,li {
    font-size: bold;
    list-style: none;
    font-size: larger;
}
.worksContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    margin: 5rem auto;
    max-width: 1200px;
}
.projectTitle {
    display: flěx;
    align-items: center;
    justify-content: left;
    gap: 5px;
    font-size: 2rem;
}
.works ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}
.works li {
    border-radius: 16px;
    background-color:Orgba(57, 62, 70, 0.5);
    backdrop-filter: blur(4px);
    padding: 1rem 4rem;
}
.works li img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    transition: transform 0.2s;
}
.works li :hover {
    transform: scale(1.5);
}
.aboutTitle {
    color: purple;
}
@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .aboutschool {
        flex-direction: column;
        text-align: center;
    }
    .works ul {
        flex-direction: column;
        align-items: center;
    }
    .arrow {
        display: none;
    }
    .schoolnm {
        font-size: 0rem;
    }
    .hero-image {
        display: none;
    }
}
.works {
    background-image: url("assets/svg/background.svg");
    padding: 10rem 10rem;
    margin: 5rem Ørem;
    display: none;
}